[Unit]
Description=LED indicator for hostapd
BindsTo=hostapd.service

[Service]
Type=simple
RemainAfterExit=True
ExecStart=/root/midirig/bin/check_connected_clients.sh

[Install]
WantedBy=hostapd.service
