[Unit]
Description=MidiClock, tempo generator.
Before=midirig.service
Wants=sound.target

[Service]
Type=simple
ExecStart=/root/midirig/midiclock/midiclock
Restart=always
RestartSec=3

[Install]
WantedBy=midirig.service
