[Unit]
Description=A service to receive messages and present them on the MidiRig display
Before=multi-user.target

[Service]
Type=Simple
EnvironmentFile=/root/midirig/util/midirig.config
ExecStart=/root/midirig/util/midirig_display.py
ExecStartPost=/root/midirig/util/displaymsg "${MIDIRIG_BOOT_COMPLETE_MESSAGE}"

[Install]
WantedBy=multi-user.target
