[Unit]
Description=MidiRig, a system for routing and modyfying midi messages.
PartOf=sound.target

[Service]
Type=simple
ExecStart=/root/midirig/midirig_engine.py 
ExecStopPost=/root/midirig/displaymsg.py --awaiting_device
Restart=always
RestartSec=3

[Install]
WantedBy=sound.target
