[Unit]
Description=A service to receive messages and present them on the MidiRig display
Before=multi-user.target

[Service]
Type=Simple
ExecStart=/root/midirig/midirig_display.py
ExecStartPost=/root/midirig/displaymsg.py --boot_complete

[Install]
WantedBy=multi-user.target
