[Unit]
Description=LED indicator for active internet connection
BindsTo=sys-subsystem-net-devices-wlan1.device

[Service]
Type=simple
ExecStart=/root/midirig/bin/checkinternetconnection.sh
ExecStopPost=/root/midirig/bin/ledcontroller 24 0

[Install]
WantedBy=sys-subsystem-net-devices-wlan1.device
