[Unit]
Description=A service to monitor the shutdown button
After=multi-user.target

[Service]
Type=Simple
EnvironmentFile=/root/midirig/util/midirig.config
ExecStart=/root/midirig/util/shutdowncheck.sh

[Install]
WantedBy=multi-user.target
