[Unit]
Description=A service to monitor the shutdown button
After=multi-user.target

[Service]
Type=Simple
ExecStart=/root/midirig/bin/shutdowncheck.sh

[Install]
WantedBy=multi-user.target
